<h3>{{'resetPassword'}}</h3>

<form (submit)="submit($event)" [formGroup]="formGroup" class="d-flex flex-column">
  <div *ngIf="response" class="alert alert-success mt-2">
    {{'resetPasswordSent'|translate}}
  </div>

  <div *ngIf="errorResponse" class="alert alert-danger mt-2">
    <ng-container [ngSwitch]="errorResponse.status">
      <ng-container *ngSwitchDefault>
        {{'error'|translate}}
      </ng-container>
    </ng-container>
  </div>

  <app-input formControlName="email" type="email">
    {{'email'|translate}}
  </app-input>

  <div class="d-flex justify-content-between">
    <a class="btn btn-link" routerLink="/auth/register">{{'register'|translate}}</a>
    <button [disabled]="formGroup.invalid" class="btn btn-primary" type="submit">{{'login'|translate}}</button>
  </div>
</form>
