<div class="p-4">
  <h1>Yeni bayi</h1>

  <form (submit)="submit($event)" [formGroup]="formGroup" class="d-flex flex-column">
    <div class="form-group">
      <label for="title">İsim</label>
      <input class="form-control"
             formControlName="title"
             [class.is-invalid]="error('title')"
             id="title"
             placeholder="İsim"
             required
             type="title">

      <div class="invalid-feedback">
        <ng-container [ngSwitch]="error('title')">
          <ng-container *ngSwitchCase="'required'">Bu alan gerekli</ng-container>
          <ng-container *ngSwitchCase="'name'">Ad sadece harf ve boşluk içerebilir</ng-container>
        </ng-container>
      </div>
    </div>

    <div class="form-group">
      <label for="phone">Telefon</label>
      <input class="form-control"
             formControlName="phone"
             [class.is-invalid]="error('phone')"
             id="phone"
             placeholder="Telefon"
             required
             type="tel">

      <div class="invalid-feedback">
        <ng-container [ngSwitch]="error('phone')">
          <ng-container *ngSwitchCase="'required'">Bu alan gerekli</ng-container>
          <ng-container *ngSwitchCase="'phone'">Telefon numarası geçersiz</ng-container>
        </ng-container>
      </div>
    </div>

    <div class="form-group">
      <label for="city">Şehir</label>
      <input class="form-control"
             formControlName="city" [class.is-invalid]="error('city')"
             id="city"
             placeholder="Şehir"
             required
             type="text"
             [ngbTypeahead]="search"
             [resultFormatter]="formatResult"
             [editable]="false">

      <div class="invalid-feedback">
        <ng-container [ngSwitch]="error('city')">
          <ng-container *ngSwitchCase="'required'">Bu alan gerekli</ng-container>
        </ng-container>
      </div>
    </div>

    <div class="d-flex justify-content-between">
      <a routerLink="/panel/dealers" class="btn btn-danger">İptal</a>
      <button [disabled]="formGroup.invalid" class="btn btn-primary" type="submit">Oluştur</button>
    </div>
  </form>

</div>
