<h3>{{'register'|translate}}</h3>

<form (submit)="submit($event)" [formGroup]="formGroup" class="d-flex flex-column" novalidate>
  <div *ngIf="errorResponse" class="alert alert-danger mt-2">
    <ng-container [ngSwitch]="errorResponse.status">
      <ng-container *ngSwitchCase="409">
        <p [innerHTML]="'register.conflict'|translate"></p>
      </ng-container>

      <ng-container *ngSwitchDefault>
        {{'error'|translate}}
      </ng-container>
    </ng-container>
  </div>

  <app-input formControlName="firstName">
    {{'firstName'|translate}}
  </app-input>

  <app-input formControlName="lastName">
    {{'lastName'|translate}}
  </app-input>

  <app-input formControlName="email" type="email">
    {{'email'|translate}}
  </app-input>

  <app-input formControlName="password" type="password">
    {{'password'|translate}}
  </app-input>

  <div class="d-flex justify-content-between">
    <a class="btn btn-link" routerLink="/auth/login">{{'login'|translate}}</a>
    <button [disabled]="formGroup.invalid" class="btn btn-primary" type="submit">{{'register'|translate}}</button>
  </div>

  <hr class="w-75">

  <div class="d-flex">
    <a class="btn btn-link flex-fill" routerLink="/auth/reset-password">{{'forgotPassword'|translate}}</a>
  </div>
</form>
