<ng-container *ngIf="paginator.lastPage > 1">
  <div class="d-flex justify-content-end align-items-center">
    <button (click)="paginator.first()" [disabled]="!paginator.canPrev" class="btn">
      <fa-icon [icon]="['fas', 'angle-double-left']"></fa-icon>
    </button>

    <button (click)="paginator.prev()" [disabled]="!paginator.canPrev" class="btn">
      <fa-icon [icon]="['fas', 'angle-left']"></fa-icon>
    </button>

    <span>{{ paginator.currentPage }}</span>

    <button (click)="paginator.next()" [disabled]="!paginator.canNext" class="btn">
      <fa-icon [icon]="['fas', 'angle-right']"></fa-icon>
    </button>

    <button (click)="paginator.last()" [disabled]="!paginator.canNext" class="btn">
      <fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon>
    </button>
  </div>
</ng-container>
