:host {
  $size: 22px;
  $passive: #6c757d;
  $active: #007bff;

  input[type=checkbox] {
    display: none;

    & + label {
      cursor: pointer;
      display: block;
      margin: 0;
      width: $size;
      height: $size;
      box-shadow: inset 0 0 0 2px $passive;
      border-radius: $size / 2;
      transition: box-shadow .3s, opacity .2s;
      transform-origin: center center;

      &:active {
        opacity: .7;
        transform: scale(.9);
      }
    }

    &:checked + label {
      box-shadow: inset 0 0 0 $size $active;
    }
  }
}
